.posts {
  list-style-type: none;
}

.posts__post {
  margin-block-end: 1em;
}

.posts__post-title {
  font-weight: 600;
  text-decoration: none;
  line-height: 1.2;
  font-size: var(--font-size-lg);
}

.posts__post-meta {
  color: var(--color-text-dim, gray);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.posts__post-icon {
  margin-inline-end: 0.5ch;
  width: 1rem;
  height: 1rem;
}

.posts__post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 0.8rem;
}
