.posts {
  list-style-type: none;
}

.posts__post {
  margin-block-end: 1em;
}

.posts__post-title {
  font-weight: 700;
  text-decoration: none;
  line-height: 1.2;
  font-size: var(--font-size-lg);
}

.posts__post-meta {
  color: var(--color-text-dim, gray);
  font-size: 0.8rem;
}
