@use 'sass:math';

:root {
  --color-primary: hsl(150, 100%, 25%);
  --color-primary: lch(40% 100 150);
  --color-secondary: lch(40% 100 234);
  --color-link: var(--color-primary, blue);
  --color-text-dim: hsl(150, 5%, 60%);

  --font-size-sm: #{1rem / 1.25};
  --font-size-md: 1rem;
  --font-size-lg: #{math.pow(1.25, 2)}rem;
  --font-size-xl: #{math.pow(1.25, 4)}rem;
  --font-size-xxl: #{math.pow(1.25, 6)}rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  font-family:
    canada-type-gibson,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: var(--color-link, blue);
}

b, strong {
  font-weight: 600;
}

a:visited {
  color: var(--color-link-visited, var(--color-link, purple));
}
