:root {
  --color-primary: hsl(150, 100%, 25%);
  --color-primary: lch(40% 100 150);
  --color-secondary: lch(40% 100 234);
  --color-link: var(--color-primary, blue);
  --color-text-dim: hsl(150, 5%, 60%);

  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5625rem;
  --font-size-xl: 2.44rem;
  --font-size-xxl: 3.8125rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  font-family: -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: var(--color-link, blue);
}

a:visited {
  color: var(--color-link-visited, var(--color-link, purple));
}
